
<app-header/>
<p class="pet-learn-more"><a href="/">Volver</a></p>
<article class="details-panel" *ngIf="(noticia) as noticia">
    <img class="main-img" src="{{noticia.imagen}}.jpg" alt="{{noticia.titular}}">
    <article>
    <h1 class="main-text">{{noticia.titular}}</h1>
    <h2>Fecha de publicacion: <span class="emphasize">{{noticia.fecha_publicacion}}</span></h2>
    <p>{{noticia.contenido}}</p>
    </article>
</article>
<h2 class="hero-text">
    Recomendaciones
</h2>
<article class="pet-list">
    <app-noticias-lista-card *ngFor="let recomendada of recomendadas;" [noticia]="recomendada"></app-noticias-lista-card>
</article>
