<app-header/>
<div>
    <div *ngIf="isLoading"></div>
    <form (submit)="onSignup()" [formGroup]="registerForm" *ngIf="!isLoading">
        <div>
          <input name="usuario" type="text" placeholder="Usuario" formControlName="usuario" required>
        </div>
        <div>
          <input name="password" type="password" placeholder="Password" formControlName="pass" required>
        </div>
        <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Registrarse</button>
      </form>
  </div>
  